export API_DB_DSN=postgres://forge:zPm05X5lLVaJH3XeVEMf@localhost/forge

export MAIL_TEST_USERNAME=c151c470acd048
export MAIL_TEST_PASSWORD=05edc7bc588a45

export REDIS_PORT=4444

export CHATPORT=3333
