export API_DB_DSN=postgres://admin:pa55word@localhost/saas_db?sslmode=disable


export SM_ACCOUNT=174381
export SM_USERNAME=ReversibleApparel
export SM_PASSWORD=S.Alberto60!


export MAIL_TEST_USERNAME=c151c470acd048
export MAIL_TEST_PASSWORD=05edc7bc588a45

export REDIS_PORT=4444

export CHATPORT=3333
